.feed {
    display: table;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feed-row {
    display: flex;
    flex-direction: row;
}