/* Ordena la pagina con formato inspirado en Facebook, que tiene logo a la izq y el login a la derecha */
.formato-landing {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8c910;
}
 
  .caja-inicio-sesion {
    /* le da sombras a lo facebook*/
    background-color: #fcfbfa;
    border: 1px; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 250px; 
    text-align: center; 
  }
  
/* esto es para que email y contraseña esten arribita del input*/
  label {
    display: block;
  }

  button[type="submit"] {
    background-color: #007BFF; 
    color: #fff;
    border: none; 
    cursor: pointer; 
    margin-top: 15px;
    margin-bottom: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #1335bf;
  }

  strong {
    font-weight: bold;
    text-align: center;
  }

  h3 {
    margin-top: 1px;
    margin-bottom: 1px;
  }